// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/type';
@import "~plyr/src/sass/plyr.scss";

body {
    position: relative;
}

.fullscreen-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}
